[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = "*"
numpy = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
dev = "bash -c 'cd responder && python router.py'"